<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!-- here you could define a custom configuration for your application; for a simple key-value-store use the "add"-tags inside a "appSettings"-tag
       defined on the same level as "startup", e.g.:
    <appSettings>
      <add key="configItem1" value="configValue1"/>
    </appSettings>
  -->
</configuration>